:root{
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --transparent-white-50: rgba(255, 255, 255, 0.5);
  --transparent-white-30: rgba(255, 255, 255, 0.3);
  --basic-red: #EE3643;
  --additional-red-hover: #CA2C37;
  --additional-red-active: #BA2732;
  --basic-gray: #32425C;
  --basic-graylight: #C5C5C5;
  --basic-graylight-30: rgba(197,197,197,0.3);
  --additional-graylight-30: rgba(169,169,169,0.3);
  --additional-graylight:#F1F5F7;
  --top-bottom-color: #293449;
  --material-background-color: #FFBF47;
  --tools-background-color: #3BBCE3;
  --technics-background-color: #DC91D8;
  --discounts-background-color: #8ED78F;
  --delivery-background-color: #FFC047;
  --common-header-background: #F9F5F0;
  --additional-nav-color: #FFD180;
  --social-link-background: #212A3A;
}

/*Описание шрифтов*/
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/cuprum.woff2") format("woff2"),
      url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
  url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}


/*Общий стиль для тегов всего окна*/
/**********************************/
body {
  min-width: 1120px;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}


.hidden-heading {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.common-text {
  font:  normal 13px "PT Sans", serif;
  color: var(--basic-black);
  line-height: 24px;
}

/*Начало раздела стилизации Header*/
/**********************************/
.main-header {
  font-family: "Cuprum", sans-serif;
  background-color: var(--additional-graylight);
}

.main-header-logo{
  background-color: var(--basic-red);
}

.about-shop {
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  color: var(--basic-red);
}

.tel-header {
  font-size: 21px;
  color: var(--basic-red);
}

.main-header-top {
  color: var(--basic-white);
  background-color: var(--top-bottom-color);
}

.bookmarks-link,
.busket-link,
.place-an-order-link,
.main-header-searching {
  color: var(--basic-white);
  font-size: 18px;
}

.main-nav {
  background-color: var(--basic-gray);

}

.login-link,
.registration-link{
  color: var(--basic-black);
  font-size: 21px;
}

.login-link:hover,
.login-link:focus,
.registration-link:hover,
.registration-link:focus {
  color: var(--basic-red);
}

.login-link:active,
.registration-link:active {
  color: var(--basic-graylight);
}

.site-navigation-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-navigation-item a {
  color: var(--basic-white);
  font-size: 18px;
}

.site-navigation-item a:active {
  color: var(--basic-white);
  opacity: 50%;
}

.address-header {
  color: var(--basic-gray);
}
/*********************************/
/*Конец раздела стилизации Header*/

/*Начало раздела стилизации основоного контейнера окна*/
/******************************************************/

.content-container-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: Cuprum, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.label-new {
  background-color: var(--basic-red);
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.content-container-item a {
  font-size: 14px;
  font-weight: normal;
  color: var(--basic-white);
  background-color: var(--transparent-white-30);
}

.content-card {
  text-transform: uppercase;
}
.content-container-item a:hover {
  background-color: var(--basic-graylight-30);
}

.content-container-item a:active {
  background-color: var(--additional-graylight-30);
}

.content-container-item:nth-child(1) {
  background-color: var(--material-background-color);
}

.content-container-item:nth-child(2) {
  background-color: var(--tools-background-color);
}

.content-container-item:nth-child(3) {
  background-color: var(--technics-background-color);
}

.content-container-item:nth-child(4) {
  background-color: var(--discounts-background-color);
}

.content-container-item:nth-child(5) {
  background-color: var(--delivery-background-color);
}

.slider-header h2{
  font: bold normal 36px Cuprum, sans-serif;
  text-transform: uppercase;
}

.slider-header p{
  font: normal normal 18px Cuprum, sans-serif;
}

.product-item-title-name {
  color: var(--basic-black);
  font: bold normal 18px PT Sans, sans-serif;
  line-height: 20px;
}

.common-header {
  font: normal normal 30px Cuprum, sans-serif;
  color: var(--basic-gray);
  background-color: var(--common-header-background);
  text-transform: uppercase;
}

.regular-button {
  font: normal normal 14px Cuprum, sans-serif;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.product-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.price-view {
  font-family: "PT Sans", serif;
  font-size: 17px;
}

.services-container {
  background-color: var(--additional-graylight);
}

.services-header,
.common-information-header,
.common-information-contacts {
  font: normal normal 30px Cuprum, sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services-option-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.delivery-description-text {
  color: var(--basic-gray);
  font: normal normal 30px Cuprum, sans-serif;
  text-transform: uppercase;
}

.delivery-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font: normal normal 18px Cuprum, sans-serif;
  color: var(--basic-black);
}

.delivery-item span {
  color: var(--basic-red);
  font-weight: bold;
  margin-right: 5px;
}

/******************************************************/
/*Конец раздела стилизации основоного контейнера окна*/


.main-footer {
  background-color: var(--basic-gray);
}

.main-footer-nav {
  font: normal normal 18px Cuprum, sans-serif;
}

.tel-footer {
  color: var(--basic-white);
}

.footer-nav-line1,
.footer-nav-line2 {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-nav-line1-item a {
  color: var(--additional-graylight);
}

.footer-nav-line2-item a {
  color: var(--additional-nav-color);
}

.footer-nav-line1-item a:hover,
.footer-nav-line2-item a:hover {
  text-decoration: underline;
}

.footer-nav-line1-item a:active,
.footer-nav-line2-item a:active {
  opacity: 50%;
  text-decoration: none;
}

.contact-information {
  font-size: 18px;
  line-height: 24px;
}

.main-footer-relation {
  font: normal normal 16px Cuprum, sans-serif;
  color: var(--basic-white);
  background-color: var(--top-bottom-color);
}

.footer-copiright-text {
  font-size: 16px;
  line-height: 18px;
}

.social-link-container {
  background-color: var(--social-link-background);
  text-align: center;
  vertical-align: bottom;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

a:hover .social-link-container{
  background-color: var(--basic-red);
}

.main-footer-feedback a,
.main-footer-developer-link a {
  color: var(--additional-nav-color);
}


.main-footer-feedback a:hover,
.main-footer-developer-link a:hover {
  text-decoration: underline;
}

.main-footer-feedback a:active,
.main-footer-developer-link a:active {
  color: var(--basic-red);
  text-decoration: none;
}
